Options -Indexes

# RewriteEngine On
# RewriteCond %{SERVER_PORT} 80
# RewriteRule ^(.*)$ https://explore-bangladesh/$1 [R,L]

RewriteEngine On
RewriteRule ^([^.?]+)$ %{REQUEST_URI}.php [L]

RewriteRule (^|/)app(/|$) - [F]